.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main {
  flex: 1;
  position: relative;
  padding-top: 0px;
}

.title-text {
  font-weight: bold;
}

.ms-welcome__header {
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.ms-welcome__header img {
filter: invert(100%);
}

.ms-welcome__main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 10px 20px;
}

.ms-welcome__main > h2 {
   width: 100%;
   text-align: center;
}

.ms-welcome__features {
  list-style-type: none;
  margin-top: 20px;
}

.ms-welcome__features.ms-List .ms-ListItem {
   padding-bottom: 20px;
   display: -webkit-flex;
   display: flex;
}

.ms-welcome__features.ms-List .ms-ListItem > .ms-Icon {
   margin-right: 10px;
}

.ms-welcome__action.ms-Button--hero {
   margin-top: 30px;
}

.ms-Button.ms-Button--hero .ms-Button-label {
  color: #0078d7;
}

.ms-Button.ms-Button--hero:hover .ms-Button-label,
.ms-Button.ms-Button--hero:focus .ms-Button-label{
  color: #005a9e;
  cursor: pointer;
}

b {
  font-weight: bold;
}

.hidden {
  display:none;
  visibility:hidden;
}

#tab_content_container {
width:100%;
font-size:1.1em;
cursor: pointer;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
.tab_content {
  text-align: left;
}

.item {
  padding:0;
  border-bottom:1px solid #eee;
  text-decoration: none;
  color:#333;
  display:block;
  padding:10px 0;
  background-color:#fff;
  transition: 0.4s;
}

.item:hover,
.item_selected {
  background-color:#ddd;
}

.item_icon {
  margin-right:20px;
  margin-left:10px;
  }

.subitem {
  padding-left:42px;
}

.subitem_section {
  border-bottom: 1px dashed #333;
}

.button {
  border: 1px solid #d2d0ce;
}

.button .ms-Button-flexContainer {
  align-items: flex-start;
  padding-top: 5px;
}

.button_icon {
  padding-left: 10px;
  padding-right: 10px;
}

.button_text {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
}