.waiting-panel {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.waiting-text {
    padding-top: 10px;
    margin: 0 auto;
}

.waiting-stack {
    background-color: white;
}